/* 컨텐트 박스를 보더 박스로 바꾸기 */
/* * : 모든 속성이 선택 됨, 모든 속성과 가상 박스 속성도 보더 박스로 변경 */
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  min-width: 800px;
  font-size: 1.8rem;
  line-height: 1.6;
  font-family: Roboto, Avenir, sans-serif;
}

a {
  /* 밑줄 없애기 */
  text-decoration: none;
}

/* HEADER */
.header {
  background-color: #0b4b33;
  height: 55px;
  padding: 15px 0 4px;
}

.container {
  max-width: 1400px;
  /* 가운데 정렬 */
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.container-float {
  max-width: 1400px;
  background-color: white;
  /* 가운데 정렬 */
  margin: 0 auto;
  padding: 0 25px;
  position: relative;
}
.container-float::after {
  display: block;
  content: "";
  clear: both;
}
.logo {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: inherit;
}

.nav {
  text-align: right;
}
.list {
  /* 리스트 인라인 요소시 자동 간격 생김 해결책 */
  margin: 0;
  font-size: 0;
}

.list-item {
  display: inline-block;
  margin: 0;
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.list-item > a {
  color: white;
  display: block;
  padding: 10px;
}

.list-item > a:hover {
  color: #c9f0dd;
}
/* MAIN */
.main {
}
/* hero-section */
.hero-section {
  text-align: center;
  padding: 43px 0;
  border-bottom: 1px solid #cfe3dc;
}

.intro-desc {
  width: 700px;
  font-weight: 300;
  font-size: 3.6rem;
  margin: 40px auto 50px;
  line-height: 1.3;
}

.cta {
  display: block;
  padding: 20px 50px;
  margin: 0 auto 60px;
  border-radius: 8px;
  background-color: #4cb48c;
  color: white;
  width: 200px;
  font-weight: 300;
}
.cta:hover {
  background-color: #51be95;
}
/* main-content */
.main-content {
  background-color: white;
  float: left;
  width: 70%;
  border-right: 1px solid #cfe3dc;
}
h2 {
  margin-top: 40px;
  background-color: white;
  font-weight: 400;
  font-size: 3rem;
  margin-left: 20px;
}
.main-desc {
  margin: 20px 30px 20px 20px;
}
.mailing-layout ::after {
  display: block;
  content: "";
  clear: both;
}

.mailing {
  background-color: white;
  float: left;
  width: 42%;
}
.mailing:first-child {
  margin-right: 8%;
  margin-left: 20px;
}
.mailing:last-child {
  margin-right: 20px;
}
.mailing-title > a {
  font-size: 1.8rem;
  letter-spacing: -1px;
  color: #4cb48c;
}
h3 {
  margin: 0px;
}
.mailing-title > a:hover {
  color: #51be95;
}
.mailing-desc {
  font-size: 1.4rem;
  margin: 0;
}
.mailing-desc > a {
  color: #4cb48c;
}

.mailing-desc > a:hover {
  color: #51be95;
}

.mailing-form {
  margin: 10px 0 30px;
  position: relative;
}
.mailing-form > label {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background-color: gray;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  /* visibility: hidden; */
  /* display: none; */
}
input[type="email"] {
  width: 90%;
  border: 1px solid #cfe3dc;
  border-radius: 4px;
  height: 3rem;
  padding: 6px 30px 8px 10px;
  margin-right: 30px;
}
.mailing-form-btn {
  position: absolute;
  top: 10px;
  right: 5px;
  border: 0;
  background: transparent;
  color: #4cb48c;
  cursor: pointer;
  font-weight: 500;
}
.mailing-form-btn :hover {
  color: #51be95;
}
.mailing-layout {
  background-color: white;
  height: 609px;
}

.side-content {
  background-color: pink;
  float: right;
  width: 30%;
}

/* COTENT-INFO */
.content-info {
  background-color: green;
  clear: both;
}
